:root {
	--footer-height: 50px;
}

footer {
	background: white;
	position: fixed;
	height: var(--footer-height);
	bottom: 0px;
	left: 0;
	right: 0;
	padding: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: calc(
		var(--footer-height) + 50px
	);
	overflow: auto;
}

table {
	border: 1px solid black;
}
table th {
	border:1px solid black;
	padding: 10px;
}
table td {
	border: 1px solid black;
	padding: 5px;
}

table tr:hover {
	background-color: gray;
}